extends layout

block content
    .row.d-none.d-sm-none.d-md-none.d-lg-flex.d-xl-flex
        .col-lg-6.offset-lg-3
            #carousel.carousel.slide(data-ride="carousel")
                .carousel-inner(role="listbox")
                    each val,index in carousel
                        if index == 0
                            .carousel-item.active
                                img.d-block.w-100(src="" + val.image, alt="Slide Image")
                        else
                            .carousel-item
                                img.d-block.w-100(src="" + val.image, alt="Slide Image")                   
                div
                    a.carousel-control-prev(href="#carousel", role="button", data-slide="prev")
                        span.carousel-control-prev-icon
                        span.sr-only Previous                        
                    a.carousel-control-next(href="#carousel", role="button", data-slide="next")
                        span.carousel-control-next-icon
                        span.sr-only Next
                ol.carousel-indicators
                    each val, index in carousel
                        if index == 0
                            li.active(data-target="#carousel", data-slide-to="" + index)
                        else
                            li(data-target="#carousel", data-slide-to="" + index)
    .row
        .col-lg-8.offset-lg-2(style='padding:15px;')
            nav.float-right(style='height:38px;')
                ul.pagination
                    if page > 1
                        li.page-item
                            a(href="/home/" + (parseInt(page, 10) - 1))
                                span.ion-arrow-left-c
                    else
                        li.page-item.disabled
                            a
                                span.ion-arrow-left-c
                    - var n = 1;
                    while n <= totalPages
                        if n == page
                            li.page-item.active
                                a(href="/home/" + n)
                                    span #{n}
                        else
                            li.page-item
                                a(href="/home/" + n)
                                    span #{n}
                        - n++
                    if page == totalPages
                        li.page-item.disabled
                            a
                                span.ion-arrow-right-c
                    else
                        li.page-item
                            a(href="/home/" + (parseInt(page, 10) + 1))
                                span.ion-arrow-right-c
    .row
        .col-lg-8.offset-lg-2
            .card.card-image.news
                .card-body
                    .row
                        .col(style='padding:0px 20px;')
                            h4 News
                    .row
                        .col.newsItems(style='padding:0px;')
                            each val,index in articles
                                .card
                                    .card-body
                                        .row
                                            .col-3.d-none.d-md-block
                                                .d-flex.justify-content-center.align-items-center(style='height:100%;width:100%;')
                                                    h3.text-center #{dates[index]}
                                            .col-md-9.col-sm-12
                                                h4 #{val.title}
                                                h6.text-muted.mb-2 #{val.creator}
                                                p !{val.preview}
                                                a(href="/article/" + val.id) Read More
    .row
        .col-lg-8.offset-lg-2(style='padding:15px;')
            nav.float-right(style='height:38px;')
                ul.pagination
                    if page > 1
                        li.page-item
                            a(href="/home/" + (parseInt(page, 10) - 1))
                                span.ion-arrow-left-c
                    else
                        li.page-item.disabled
                            a
                                span.ion-arrow-left-c
                    - var n = 1;
                    while n <= totalPages
                        if n == page
                            li.page-item.active
                                a(href="/home/" + n)
                                    span #{n}
                        else
                            li.page-item
                                a(href="/home/" + n)
                                    span #{n}
                        - n++
                    if page == totalPages
                        li.page-item.disabled
                            a
                                span.ion-arrow-right-c
                    else
                        li.page-item
                            a(href="/home/" + (parseInt(page, 10) + 1))
                                span.ion-arrow-right-c



block scripts
    script(src="/javascripts/homeScript.js")
