extends ../layout

block content
    .row
        .col-lg-8.offset-lg-2
            .card.card-image.subcategory
                .card-body
                    h2 Forum
                    h4.text-center #{category}
                    div
                        ol.breadcrumb.col-xs-12
                            each val, index in breadcrumbs
                                if index !== breadcrumbs.length - 1
                                    li.breadcrumb-item
                                        a(href=val[1]) #{val[0]}
                                else
                                    li.breadcrumb-item.active #{val[0]}
                    .row
                    .list-group
                        a.list-group-item.list-group-item-info.category-header Subcategories
                        each val, index in subcategories
                            a.list-group-item.subcategories-content(href="/forum/" + category + "/" + val.name)
                                h4.list-group-item-heading #{val.name}
block scripts